/*
Theme Name: Teste Brafé
Theme URI: www.tbrafe.com
Author: IN Junior
Author: www.injunior.com.br
Description: Sei lá
Version: 1.0
*/


/*---------GERAL---------*/

:root{
    font-family: Georgia, serif ;
    --white: #ffffff;
    --black: #000000;
    --cor2: #E9E5D9;
    --cor3: #D8D4C9;
    --cor4: #202020;
    --cor5: #303030;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--cor4);
    border-color: black;
    font-weight: bold;
    font-size: 1em;
    font-family: Georgia, serif ;
    letter-spacing: 0px;
    width: 175px;
    height: 50px;
    transition: .5s;
}
button:hover {
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
}
.field{
    cursor: pointer;
    margin: 0;
    padding: 0;
    resize: none;
    border: 5px solid var(--cor4);
    background-color: #fff0;
    font-size: 2em;
}
.container {
    width: 100%;
    background-color: var(--white);
}
/*-----Header------*/
header {
    position: sticky;
    height: 90px;
    background-color: var(--cor4);
    top: 0;
    z-index: 90;
}
a{
    color: var(--white);
}
header #header-logo {
    position: relative;
    top: 20px;
    left: 200px;
}
header #header-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    left: 800px;
    bottom: 7px;
    font-size: 1.2em;
    width: 25%;
    color: white;
    list-style-type: none;
    cursor: pointer;
}
header #header-a {
    text-decoration: none;
}
header #header-a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 200ms ,.4s;
}
header #header-a:hover::after {
    width: 100%;
    transition: .4s;
}


/*--------------PRIMSECTION---------------*/

.imgcafe{
    display: flex;
    width: 100%;
    padding: 0;
    text-align: center;
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url(img/bg-intro.jpg)no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    color: #fff;

}
.h1{
    position: relative;
    bottom: 60px;
    left: 160px;
    width: 40%;
    font-size: 3em;
    font-weight: bold;
}
.traco{
    font-size: 3em;
    position: relative;
    bottom: 10px;
    right: 140px;
}
.text1 {
    position: relative;
    top: 40px;
    right: 300px;
    font-size: 1.2em;
    font-style: italic;

}
/*--------------SEGSECTION---------------*/
.posicao2{
    margin: auto;
    width: 960px;
    height: 690px;

}
#ancora1{

}
h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: px;
    margin-inline-end: 0px;
    font-weight: bolder;
}
.h2{
    padding: 50px 20px;
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
    font-weight: bold;
    color: var(--cor4);
    position: relative;
    top: 50px;
}
img{
    transform: scale(0.9, 0.9);
    margin: auto 0;
    
}
.img2{
    position: relative;
    left: 500px;
    bottom: 255px;

}
.div2 h3 {
    font-size: 2.25em;
    line-height: 1em;
    background: var(--cor4);
    width: 220px;
    color: #fff;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    position: relative;
}
.h3-1{
    bottom:40px;
    left: 23px;
}
.h3-2{
    bottom: 295px;
    left: 523px;
}
.psec2{
    font-size: 1.2em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
    position: relative;
    bottom: 250px;
}
/*--------------TERSECTION---------------*/
.section3 {
    background-color: #e7e4d8;
    border: 3px solid #d6d3c8;
    border-left-width: 0;
    border-right-width: 0;
    height: 500px;
    margin: 0 auto;
}
#ancora2{

}
.estados {
    width: 450px;
    float: left;
    margin: 0 -100px 20px 5px;
    text-align: center;
    max-width: 480px;
    
}
.estados #h4{
    width: 100px;
    display: inline-block;
    font-weight: bold;
    font-size: 2.2em;
    color: var(--cor4);
    position: relative;
    top: 110px;
    left: 120px;
    
}

.p3{
    position: relative;
    top: 120px;
    left: 220px;
    font-size: 0.9em;
    line-height: 1.4em;
    width: 70%;
    text-align: left;
    
}
.saiba{
    position: relative;
    top: 170px;
    right: 210px;
    background-color: var(--cor2);

}
.bola1{
        content: '';
        display: block;
        width: 100px;
        height: 100px;
        background: currentColor;
        border-radius: 50%;
        margin: 0px auto;
        border: 5px solid #e7e4d8;
        box-shadow: 0 0 0 10px currentColor;
        position: relative;
        top: 70px;
        left: 140px;
        color: #492901;
        animation: bola 4s alternate infinite;
    }
    .bola2{
        content: '';
        display: block;
        width: 100px;
        height: 100px;
        background: currentColor;
        border-radius: 50%;
        margin: 0px auto;
        border: 5px solid #e7e4d8;
        box-shadow: 0 0 0 10px currentColor;
        position: relative;
        top: 70px;
        left: 140px;
        color: #c17139;
        animation: bola 4s alternate infinite;
    }
    .bola3{
        content: '';
        display: block;
        width: 100px;
        height: 100px;
        background: currentColor;
        border-radius: 50%;
        margin: 0px auto;
        border: 5px solid #e7e4d8;
        box-shadow: 0 0 0 10px currentColor;
        position: relative;
        top: 70px;
        left: 140px;
        color: #d7a54d;
        animation: bola 4s alternate infinite;
    }

    @keyframes bola{
        0%{
            transform: scale(1);
        }
        25%{
            transform: scale(1.1);
        }

        50%{
            transform: scale(1.2);
        }
        100%{
            transform: scale(1.3);
        }
    }
/*--------------QUARTSECTION---------------*/
.locais{
    display: block;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 0px;
    height: 1100px;
}
.divs1{
    position: relative;
    bottom: 40px;
    right: 200px;
}
.divs2{
    position: relative;
    bottom: 240px;
    right: 200px;
}
.divs3{
    position: relative;
    bottom: 440px;
    right: 200px;
}
.img-local{
    flex: 1;
    margin: 0 10px;
    padding-bottom: 0px;
    transform: scale(1.2);
    position: relative;
    right: 35px;
}
.img-local img {
    position: relative;
    top: 90px;
}
.texto-local{
    position: relative;
    flex: 1;
    margin: 0;
    left: 500px;
    bottom: 190px;
    width: 90%;

}
.texto-local h5 {
    display: flex;
    font-size: 2.2em;
    margin-bottom: 1px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: -10px;
    margin-inline-end: -10px;
    font-weight: bold;
}
.texto-local p{
    font-size: 1.2em;
    line-height: 1.4em;
    max-width: 320px;
    margin-bottom: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*--------------QUINTSECTION---------------*/
.section4{
    background: #e7e4d8;
    height: 100px;
}
#ancora3{

}
.assine{
    margin: 0 10px;
    flex: 1;
}
.assine h6{
    font-size: 2.2em;
    margin-block-start: 0.9em;
    margin-block-end: 0.9em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: var(--cor4);
    position: relative;
    left: 200px;
    top: 30px;
    width: 35%;

    
}
.assine p {
    font-size: 1.5em;
    font-style: italic;
    width: 30%;
    position: relative;
    left: 200px;
}
.assine input {
    display: flex;
    align-self: flex-start;
    border: 3px solid #252525;
    background: none;
    font-size: 1.4em;
    font-style: italic;
    font-family: Georgia, serif;
    position: relative;
    left: 670px;
    bottom: 53px;
    width: 25%;
    height: 42px;
}
.assine button {
    text-align: center;
    background: #252525;
    border: none;
    font-family: Georgia, serif;
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--white);
    cursor: pointer;
    position: relative;
    left: 1020px;
    bottom: 103px;
    width: 10%;
}

/*--------------FOOTER---------------*/
.footer{
    background: #d6d3c8;
    padding: 0;
    margin: 0;
    height: 90px;
}
.footer-logo{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 200px;
    bottom: 15px;
}
.footer-text{
    text-align: left;
    position: relative;
    right: -200px;
    top: 20px;
    font-size: 1.2em;
    line-height: 1.4em;
    width: 40%;
}